
div {
	position: relative;
}

img {
	margin-top: 2%;
	display: block;
    margin-left: auto;
    margin-right: auto
}

canvas {
	margin-top: 0.5%;
	display: block;
    margin-left: auto;
    margin-right: auto
}

p {
	/*margin-top: 0.5%;*/
	display: inline-block;
    margin-left: 23%;
    margin-right: auto
}

button {
	display: inline-block;
  	margin: 0;
  	margin-left: 0.5%;
  	width: 100px;
}

button:hover {
	border-color: lightblue;
}